<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.covel">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <application
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">
        <activity android:name=".Covel_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Join_agreement"/>
        <activity android:name=".Join_membership"/>
        <activity android:name=".Covel_home"/>
        <activity android:name=".Covel_menu"/>
        <activity android:name=".My_information"/>
        <activity android:name=".Novel_upload"/>
        <activity android:name=".Novel_registration"/>
        <activity android:name=".Novel_list"/>
        <activity android:name=".Novel_main"/>
        
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>